body{
    /*background: url("/img/force_awakens.jpg") fixed;*/
    background: #fff;
}
.font-l{
    font-size: 4em;
}
.font-xl{
    font-size: 10em;
}
.font-xxl{
    font-size: 14em;
}
.font-xxxl{
    font-size: 16em;
}
.center{
    text-align: center;
}

.info-panel{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    position: relative;
    border: solid 2px #2196F3;
}
.info-panel-center{
    position: absolute;
    top: 50%;
    margin: -38% auto auto auto;
    width: 100%;
}
.heating-on{
    color: #2196F3;
}
.heating-off{
    color: #eeeeee;
}
#ex1Slider .slider-selection {
    background: #BABABA;
}

@media(max-width: 980px) {
    body{
        font-size: 10px;
    }
    .font-xl{
        font-size: 6em;
    }
    .font-xxl{
        font-size: 4em;
    }
    .font-xxxl{
        font-size: 6em;
    }
    .info-panel{
        width: 250px;
        height: 250px;
        border-radius: 100%;
    }
}

/*hackx hackx*/
.tooltip, .tooltip.in{
    opacity: 0 !important;
}