<?php 
    include("config.php");
    $config = new Config();
?>

<form>
    <div class="form-group">
        <label for="waittime">Tr&auml;heit in Sekunden (Fliesskomma)</label>
        <input value="<?php echo $config->getConfig("system", "waittime")?>" type="text" class="form-control" id="waittime" placeholder="Bsp. 1.2">
    </div>
    <div class="form-group">
        <div class="togglebutton" id="toggle-system">
                <label>System Status &nbsp; &nbsp;<input type="checkbox" checked=""></label>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Check me out
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>