<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" aria-expanded="true">
            <ul class="nav navbar-nav">
                <li><a href="?page=temperature"><span class="glyphicon glyphicon-fire font-l"></span></a></li>
                <li><a href="?page=statistic"><span class="glyphicon glyphicon-stats font-l"></span></a></li>
                <li><a href="?page=config"><span class="mdi-action-settings font-l"></span></a></li>
            </ul>
        </div>
    </div>
</nav>