<?php
include("temperature.php");
$temp = new Temperature();
?>


<div class="info-panel shadow-z-2 center-block vertical-center">
    <div class="info-panel-center">
        <p class="heating center font-l"><span class="glyphicon glyphicon-fire <?php if($temp->isHeating){echo "heating-on";}else{echo "heating-off";}?>" aria-hidden="true"></span></p>
        <p class="temperature center font-xl"><?php echo number_format($temp->getTemperatureWithDelta(), 1); ?></p>
    </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="row">
    <div class="col-md-4 center">
        <h2>Max</h2>
        <input type="text" class="max" data-displayPrevious="false" data-width="200" data-min="17" data-max="28" data-fgColor="#2196F3" data-angleOffset="180" data-angleArc="180" data-displayinput="true" data-step="0.5" value="<?php echo $temp->getMaxTemperature(); ?>" />
    </div>
    <div class="col-md-4 center">
        <h2>Min</h2>
        <input type="text" class="min" data-rotation="acw" data-displayPrevious="false" data-width="200" data-min="17" data-max="28" data-fgColor="#2196F3" data-angleOffset="0" data-angleArc="180" data-displayinput="true" data-step="0.5" value="<?php echo $temp->getMinTemperature(); ?>" />
    </div>
    <div class="col-md-4 center">
        <h2>Delta</h2>
        <input type="text" class="delta" data-cursor="5" data-rotation="acw" data-displayPrevious="false" data-width="200" data-min="-10" data-max="10" data-fgColor="#2196F3" data-angleOffset="0" data-angleArc="90" data-displayinput="true" data-step="0.5" value="<?php echo $temp->getDeltaTemperature(); ?>" />
    </div>
</div>